ctrl_interface=DIR=/var/run/wpa_supplicant GROUP=netdev
update_config=1
country=IT

network={
    ssid="YOUR_WIFI_SSID"
    psk="YOUR_WIFI_PASSWORD"
    key_mgmt=WPA-PSK
    priority=1
}

# For multiple networks, add more network blocks:
# network={
#     ssid="ANOTHER_NETWORK"
#     psk="ANOTHER_PASSWORD"
#     key_mgmt=WPA-PSK
#     priority=0
# }
